<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      {{!-- <a href="/">Home</a> --}}
      {{#if username}}
      <a href="/logout">Logout</a>
      <a href="/parts">Catalogo</a>
      <a href="/edit-user">Editar usuario</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}

      {{#if user}}
       <a href="/user_profile">{{username}}</a>
      {{/if}}

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
