<br><br>
<h2>Perfil de usuario</h2>

<br>
 <a href="user/edit/{{user}}"Editar Perfil></a>
 <br><br>

<table>
  <tr>
    <td>Nombre de usuario</td>
  </tr>
  {{#each user}}
  <tr>
    <td>{{password}}</td>
    <td>{{email}}</td>
    <td>{{addres}}</td>
  </tr>
  {{/each}}
  {{#each  }}
</table>